*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr:nth-child(even) {
  background-color: #aaa;
}

button{
  padding: 8px;
  background: grey;
  box-shadow: 0px 0px 5px 0px #aaa;
  border: 0px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.container {
  background-color: #e3e3e3;
  height: 100vh;
  display: grid;
  width:100%;
  padding: 32px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-areas: 
    "qrstring qrbutton qr-code"
    "qrstring download-svg qr-code"
    "qrstring download-png qr-code"
    "params-qr-table params-qr-table params-qr-table"
  ;
  grid-template-columns:1fr 200px;
}

.qrstring{
  grid-area: qrstring;
}
.qrbutton{
  grid-area: qrbutton;
}

.qr-code{
  grid-area: qr-code;
  max-width: 200px;
  
  width: 100%;
}

.params-qr-table{
  grid-area: params-qr-table;
}