.App {
  text-align: center;
}


.App-header {
  background-color: #e3e3e3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #444;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

tr:nth-child(even) {
  background-color: #aaa;
}

.container {
  display: grid;
  width:90%;
  padding: 32px;
  gap: 32px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  grid-template-areas: "qrstring qr-code"
    "qrbutton qr-code"
    "params-qr-table params-qr-table"
  ;
  grid-template-columns:1fr 200px;
}

.qrstring{
  grid-area: qrstring;
}
.qrbutton{
  grid-area: qrbutton;
}

.qr-code{
  grid-area: qr-code;
  max-width: 200px;
  
  width: 100%;
}

.params-qr-table{
  grid-area: params-qr-table;
}