.params-qr-table{
    display: grid;
    grid-template-areas: 'param-code subparam-code label info value';
    grid-template-columns: 50px 100px 200px 30px;
    gap: 24px;
    width: 100%;
    align-items: center;
    overflow: scroll;
    height: 100%;
}

.params-qr-table > p{
    background-color: #d4d4d4;
}

p{
    height: 100%;
    align-self: center;
    justify-self: center;
    width: 100%;
    justify-content: center;
    display: grid;
    align-items: center;
}


.params-qr-table > h2{
    font-size: 24px;
    margin:0;
}

.info{
    cursor: pointer;
    position: relative;
}

.info>.remarks{
    display: none;
}

.info:hover>.remarks{
    display: block;
    position: absolute;
    background: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 13px 0px #8b8585;
    right: auto;
    width: max-content;
    top: 40px;
}

.info:hover>.remarks::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    display: block;
    border-right: 10px solid white;
    border-left: 10px solid transparent;
    transform: rotate(225deg);
    border-bottom: 10px solid white;
    border-top: 10px solid transparent;
    
    top: -20px;
    margin: 10px;
    left: -3px;
}

.remarks>*{
    font-size: 12px;
    line-height: 16px;
}

/* .param-code{
    grid-area: param-code;
}

.subparam-code{
    grid-area: subparam-code;
}

.label{
    grid-area: label;
}

.value{
    grid-area: value;
} */